<h2 id="title">ember-input-float</h2>

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-3">
    <div class="input-test-wrapper">
    <div>Input Value: {{inputConfig.value}}</div>
        {{ember-input-float nullable=true value=inputConfig.value disabled=inputConfig.disabled}}
    </div>
  </div>
</div>

{{outlet}}
